html {
    direction: rtl;
    font-family: "Baloo Bhaijaan 2", sans-serif;
    background-color: rgb(235, 233, 233);
}

.top-section {
    display: flex;
    width: 100%;
    gap: 8px;
    padding: 8px;
    box-sizing: border-box;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.btn,
.btn-digi {
    font-family: "Baloo Bhaijaan 2", sans-serif;
    border: 1px solid rgb(217, 215, 215);
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 13px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
    flex-direction: column
}

.btn {
    background-color: white;
    color: black;
}

.btn-digi {
    background-color: #E40138;
    color: white;
}

.icon-btn {
    width: 30px;
    height: 25px;
    object-fit: contain;
}
.search-box::placeholder{
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #acabab;
}
.search-wrapper{
    position: relative;
}
.search-wrapper i {
  position: absolute;
  right: 15px;
  top: 13px;
  color: rgb(167, 166, 166);
  font-size: 20px;
}
.search-box {
  width: 450px;
  padding: 14px 47px;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 25px;
}
.digikala-icon{
    position: absolute;
    top: 15px;
    right: 114px;
}